.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;

 &:hover .logotype,
 &:focus .logotype {
  fill: #97D28B;
}
}
.logotype {
  fill: #173D33;
  transition: all 0.3s ease 0s;
}
